@media only screen and (max-width: 1200px)  {
    .contact_wrapp{
        display: block;
    }
    .contact_wrapp div:nth-child(1){
        display: flex;
        justify-content: center;
    }
    .contact_wrapp div:nth-child(2){
        text-align: center;
    }

    .heading_style{
        font-size: 7rem;
    }
    .wrapper .intro{
        max-width: 100%;
    }

}

@media only screen and (max-width: 991px){
    .marquee{
        font-size: 4rem;
    }
    .heading_style{
        font-size: 4rem;
    }


}


@media only screen and (max-width: 768px){
    .banner{
        height: 30vh;
    }

    .articles {

        grid-template-columns: repeat(auto-fill, minmax(271px, 3fr));
        padding-inline: 0px;
       
      }
      .heading_style{
        font-size: 2rem;
      }
}

@media only screen and (max-width: 575px){
    .tab{
        display: block;
    }

    .container-full{
        padding: 0 10px 0 10px;
    }

    .tabcontent .wrapper{
        padding: 0;
    }

     .tab button{
        max-width: 100% !important;
        margin: 0;
    } 
}
